In [1]:
import pandas as pd

In [2]:
hi_meas = pd.read_csv("hawaii_measurements.csv")
hi_meas.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
hi_stations = pd.read_csv("hawaii_stations.csv")
hi_stations

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [4]:
#fill prcp column NaN with 0 in hawaii measurement csv
clean_hi_meas = hi_meas.dropna()
clean_hi_meas.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [5]:
#fill prcp column NaN with 0 in hawaii measurement csv
clean_hi_stations = hi_stations.fillna(0)
clean_hi_stations

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [8]:
clean_hi_stations.sort_values('station', ascending=True, inplace=True)

In [9]:
clean_hi_stations

,station,name,latitude,longitude,elevation
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5

In [10]:
#save as csv
clean_hi_meas.to_csv('clean_HI_meas.csv', index=True)
clean_hi_stations.to_csv('clean_HI_stations.csv', index=False)

In [11]:
'''Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. 
You will need one table per weather station. Use the station name as the table name. '''
# Python SQL toolkit and Object Relational Mapper
import os
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, backref
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, ForeignKey

In [12]:
#view the cleaned csv files with pandas to be used later on in the sqlite engine as seperate tables
# Read CSV file into a pandas DataFrame
hi_meas_csv = 'clean_HI_meas.csv'
hi_stations_csv = 'clean_HI_stations.csv'

hi_meas = pd.read_csv(hi_meas_csv, dtype=object)
hi_stations = pd.read_csv(hi_stations_csv, dtype=object)

# hi_meas.head(n=15)

# I need to create a column for ID so I'll use the index that I kept from the cleanup file where I left index as True
#I;m just going to rename the column to id since it is automatically named 'unnamed: 0' when put into a pandas df
hi_meas.rename(columns={'Unnamed: 0':'id'}, inplace=True)
hi_meas.head(n=15)

    id      station        date  prcp tobs
0    0  USC00519397  2010-01-01  0.08   65
1    1  USC00519397  2010-01-02   0.0   63
2    2  USC00519397  2010-01-03   0.0   74
3    3  USC00519397  2010-01-04   0.0   76
4    5  USC00519397  2010-01-07  0.06   70
5    6  USC00519397  2010-01-08   0.0   64
6    7  USC00519397  2010-01-09   0.0   68
7    8  USC00519397  2010-01-10   0.0   73
8    9  USC00519397  2010-01-11  0.01   64
9   10  USC00519397  2010-01-12   0.0   61
10  11  USC00519397  2010-01-14   0.0   66
11  12  USC00519397  2010-01-15   0.0   65
12  13  USC00519397  2010-01-16   0.0   68
13  14  USC00519397  2010-01-17   0.0   64
14  15  USC00519397  2010-01-18   0.0   72

In [13]:
hi_stations.head(n=15)

,station,name,latitude,longitude,elevation
0,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.3152,-157.9992,0.9
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
4,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84888999999998,32.9
7,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
8,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5

In [14]:
#create a sqlite engine for my hawaii tables
hawaii_engine = create_engine("sqlite:///hawaii.sqlite")

In [15]:
# Create a connection to the engine. calling in 'hawaii_conn'
hawaii_conn = hawaii_engine.connect()

In [17]:
# Use `declarative_base` from SQLAlchemy to model the demographics table as an ORM class
# Make sure to specify types for each column
### BEGIN SOLUTION

Base = declarative_base()

class stations(Base):
    __tablename__ = 'stations'
    
    station = Column(String(50), primary_key=True)
    name = Column(String(15))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

    def __repr__(self):
        return f"id={self.id}, name={self.name}"


class measurements(Base):
    __tablename__ = 'measurements'

    id = Column(Integer, primary_key=True)
    station = Column(String(50), ForeignKey('stations.station'))
    date = Column(String(15))
    prcp = Column(Float)
    tobs = Column(Integer)
    department = relationship(
        stations,
        backref=backref('measurements',
                         uselist=True,
                         cascade='delete,all'))

    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [18]:
stations

__main__.stations

In [19]:
# Use `create_all` to create the demographics table in the database
Base.metadata.create_all(hawaii_engine)

In [20]:
# Use Orient='records' to create a list of data to write to measurement table
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
measurement_data = hi_meas.to_dict(orient='records')
measurement_data[0]

{'date': '2010-01-01',
 'id': '0',
 'prcp': '0.08',
 'station': 'USC00519397',
 'tobs': '65'}

In [21]:
# Use Orient='records' to create a list of data to write to stations table
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
stations_data = hi_stations.to_dict(orient='records')
stations_data[0]

{'elevation': '0.9',
 'latitude': '21.3152',
 'longitude': '-157.9992',
 'name': 'HONOLULU OBSERVATORY 702.2, HI US',
 'station': 'USC00511918'}

In [22]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=hawaii_engine)
metadata.reflect()

In [23]:
# Save the reference to the `stations' table as a variable called `stations_table`
stations_table = sqlalchemy.Table('stations', metadata, autoload=True)

In [24]:
# Save the reference to the `stations' table as a variable called `stations_table`
measurements_table = sqlalchemy.Table('measurements', metadata, autoload=True)

In [25]:
# Use `table.insert()` to insert the measurements_data into the stations_table
hawaii_conn.execute(measurements_table.insert(), measurement_data)

In [26]:
# Test that the insert works by fetching the first 5 rows. 
hawaii_conn.execute("select * from measurements limit 5").fetchall()

[(0, 'USC00519397', '2010-01-01', 0.08, 65),
 (1, 'USC00519397', '2010-01-02', 0.0, 63),
 (2, 'USC00519397', '2010-01-03', 0.0, 74),
 (3, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-07', 0.06, 70)]

In [27]:
# Use `table.insert()` to insert the stations_data into the stations_table
hawaii_conn.execute(stations_table.insert(), stations_data)

In [28]:
# Test that the insert works by fetching the first 5 rows. 
hawaii_conn.execute("select * from stations limit 5").fetchall()

[('USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 ('USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4),
 ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9)]